/* ==========================================================================
   Base styles
   ========================================================================== */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  background: #fff;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
